sqlalchemy
uvicorn
python-multipart
python-jose
pypdfium2
pytesseract
mysqlclient
Pillow
pinecone
cohere
httpx
python-dotenv
google-api-python-client
fastapi
celery
redis
grpcio
langchain
langchain-pinecone
langchain-cohere
langchain-community # For potential OpenRouter integration or other components
langchain-openai